@import "reset.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f6f8;
  height: 100%;
  font-family: 'Helvetica Neue', sans-serif !important;
}

a {
  text-decoration: none;
}

#app-root {
  height: 100%;
}
